{% extends "base.html" %} {% block title %}Connections{% endblock %} {% block
js_imports %}
<script src="{{ url_for('static', filename='js/client.js') }}"></script>
<script src="{{ url_for('static', filename='js/connections.js') }}"></script>
{%endblock %} {% block content %}

<section class="py">
  <div
    class="container"
    style="
      border-style: solid;
      border-color: var(--bs-link-color);
      padding: 10px;
      border-radius: 16px;
    "
  >
    <div class="row">
      <div class="col">
        <div
          class="d-lg-flex d-xxl-flex justify-content-lg-start justify-content-xxl-center"
        >
          <div class="dropend">
            <button
              class="btn btn-primary dropdown-toggle"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              type="button"
            >
              Select a pre-existing connection&nbsp;
            </button>
            <div class="dropdown-menu" style="/*width: inherit;*/">
              {% for connection in user.connections %}
              <a
                class="dropdown-item"
                id="{{connection.id}}"
                name="connections_item"
                >{{connection.name}}</a
              >
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-lg-flex justify-content-lg-end">
          <input
            class="btn btn-primary d-lg-flex"
            type="submit"
            name="conn_edit"
            value="Edit connection"
          />
        </div>
      </div>
    </div>
    <div class="row" style="border-color: var(--bs-emphasis-color)">
      <div class="col">
        <section class="position-relative py-1 py-xl-1">
          <div class="container position-relative">
            <form id="editConnectionForm">
              <div
                class="row d-flex justify-content-center"
                style="padding: 10px"
              >
                <div class="col">
                  <label class="form-label">Connection Name:</label
                  ><input
                    class="form-control"
                    type="text"
                    disabled=""
                    value=""
                    placeholder="Connection name"
                    name="conn_name"
                    readonly=""
                  />
                </div>
                <div class="col">
                  <label class="form-label">Last modified:</label
                  ><input
                    class="form-control"
                    type="datetime-local"
                    name="conn_date"
                    value=""
                    disabled=""
                    readonly=""
                  />
                </div>
              </div>
              <hr />
              <div
                class="row d-flex justify-content-center"
                style="padding: 10px"
              >
                <div class="col">
                  <label class="form-label">API ID</label
                  ><input
                    class="form-control"
                    type="text"
                    disabled=""
                    value=""
                    placeholder="API ID"
                    name="conn_api_id"
                    readonly=""
                  />
                </div>
                <div class="col">
                  <label class="form-label">API HASH</label
                  ><input
                    class="form-control"
                    type="text"
                    disabled=""
                    value=""
                    placeholder="API HASH"
                    name="conn_api_hash"
                    readonly=""
                  />
                </div>
                <div class="col">
                  <label class="form-label">Account type</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="formCheck-1"
                      name="conn_type"
                      checked=""
                      disabled=""
                      value="BOT"
                    /><label class="form-check-label" for="formCheck-1"
                      >BOT Account</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="formCheck-2"
                      name="conn_type"
                      disabled=""
                      value="USER"
                    /><label class="form-check-label" for="formCheck-2"
                      >USER Account</label
                    >
                  </div>
                </div>
              </div>
              <hr />
              <div class="row d-flex justify-content-center">
                <div class="col">
                  <div class="d-lg-flex justify-content-lg-center">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="formCheck-3"
                        name="conn_accept_change"
                        disabled=""
                      /><label class="form-check-label" for="formCheck-3"
                        >Confirm changes .</label
                      >
                    </div>
                  </div>
                  <div class="d-lg-flex justify-content-lg-center">
                    <input
                      class="btn btn-primary"
                      type="submit"
                      name="conn_save_edit"
                      value="Save changes"
                      disabled=""
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="d-lg-flex justify-content-lg-center">
                    <div class="form-check">
                      <input
                        id="formCheck-4"
                        class="form-check-input"
                        type="checkbox"
                        name="conn_accept_delete"
                      /><label class="form-check-label" for="formCheck-4"
                        >Confirm deletion .</label
                      >
                    </div>
                  </div>
                  <div class="d-lg-flex justify-content-lg-center">
                    <input
                      class="btn btn-danger"
                      type="submit"
                      name="conn_delete"
                      value="Delete Connection"
                      style
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="py-1">
  <div
    class="container"
    style="
      border-style: solid;
      border-color: var(--bs-success);
      padding: 10px;
      border-radius: 16px;
    "
  >
    <div class="row" style="border-color: var(--bs-emphasis-color)">
      <div class="col d-xl-flex justify-content-xl-center">
        <h1 style="color: var(--bs-success)">Add a connection</h1>
      </div>
    </div>
    <div class="row" style="border-color: var(--bs-emphasis-color)">
      <div class="col">
        <section class="position-relative py-1 py-xl-1">
          <div class="container position-relative">
            <form action="/createConnection" method="POST">
              <div
                class="row d-flex justify-content-center"
                style="padding: 10px"
              >
                <div class="col">
                  <label class="form-label">Phone Number</label
                  ><input
                    class="form-control"
                    type="text"
                    placeholder="(e.g +1234567890)"
                    id="new_conn_phone"
                    name="new_conn_phone"
                    inputmode="tel"
                    required
                  />
                </div>
                <div class="col">
                  <label class="form-label">Connection Name:</label
                  ><input
                    class="form-control"
                    id="new_conn_name"
                    type="text"
                    value=""
                    placeholder="Connection name"
                    name="new_conn_name"
                  />
                </div>
              </div>
              <hr />
              <div
                class="row d-flex justify-content-center"
                style="padding: 10px"
              >
                <div class="col">
                  <label class="form-label">API ID</label
                  ><input
                    class="form-control"
                    id="new_api_id"
                    type="text"
                    value=""
                    placeholder="API ID"
                    name="new_conn_api_id"
                  />
                </div>
                <div class="col">
                  <label class="form-label">API HASH</label
                  ><input
                    class="form-control"
                    id="new_api_secret"
                    type="text"
                    value=""
                    placeholder="API HASH"
                    name="new_conn_api_hash"
                  />
                </div>
                <div class="col">
                  <label class="form-label">Account type</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="formCheck-6"
                      name="new_conn_type"
                      checked=""
                      value="BOT"
                    /><label class="form-check-label" for="formCheck-4"
                      >BOT Account</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="formCheck-5"
                      name="new_conn_type"
                      value="USER"
                    /><label class="form-check-label" for="formCheck-5"
                      >USER Account</label
                    >
                  </div>
                </div>
              </div>
              <hr />
              <div class="row d-flex justify-content-center">
                <div class="col">
                  <div class="d-lg-flex justify-content-lg-center">
                    <input
                      class="btn btn-primary"
                      type="button"
                      name="new_conn_save"
                      value="Add authn && Save"
                      onclick="saveConnectionDetails()"
                    />
                    <!-- <input
                      class="btn btn-primary"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#overlayModal"
                      name="new_conn_save"
                      value="Add authn && Save"
                      onclick="saveConnectionDetails()"
                    /> -->
                  </div>
                </div>
              </div>
              <div
                class="modal fade"
                id="overlayModal"
                tabindex="-1"
                aria-labelledby="overlayModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" style="max-width: 80%">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="overlayModalLabel">
                        Select authentication method :
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="container text-center mt-5">
                        <div class="row d-lg-flex justify-content-lg-start">
                          <div class="col d-lg-flex justify-content-lg-start">
                            <div id="conn_auth_dropdown" class="dropdown">
                              <button
                                id="conn_auth_button"
                                class="btn btn-primary dropdown-toggle"
                                aria-expanded="false"
                                data-bs-toggle="dropdown"
                                type="button"
                              >
                                Select authentication mechanism: 
                              </button>
                              <div class="dropdown-menu">
                                <a
                                  id="conn_auth_gss"
                                  class="dropdown-item"
                                  href="#"
                                  >Generate SessionString</a
                                ><a
                                  id="conn_auth_ess"
                                  class="dropdown-item"
                                  href="#"
                                  >Enter SessionString</a
                                ><a
                                  id="conn_auth_bt"
                                  class="dropdown-item"
                                  href="#"
                                  >Use BotToken</a
                                ><a
                                  id="conn_auth_ownpwd"
                                  class="dropdown-item"
                                  href="#"
                                  >Use OwnPassword</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="horizontal-line" style="margin-bottom: 0px">
                          <span>Use phone number :</span>
                        </div>
                        <div
                          class="row"
                          style="margin-right: 0px; margin-left: 0px"
                        >
                          <div
                            class="col d-lg-flex justify-content-lg-center align-items-lg-center col-12"
                          >
                            <label
                              class="form-label"
                              style="margin-bottom: 0px; margin-right: 5px"
                              >Phone Number:</label
                            ><input
                              id="conn_auth_gss_phone_input"
                              type="tel"
                              inputmode="tel"
                              style="
                                max-width: 40%;
                                min-width: 30%;
                                margin-right: 5px;
                                margin-left: 5px;
                              "
                              placeholder="(e.g. +1234567890)"
                            /><button
                              id="conn_auth_gss_send_code"
                              class="btn btn-dark btn-sm"
                              type="button"
                              style="margin-right: 5px; margin-left: 5px"
                            >
                              <svg
                                class="bi bi-send"
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
                                ></path>
                              </svg></button
                            ><input
                              id="conn_auth_gss_code_input"
                              type="password"
                              inputmode="numeric"
                              required
                              minlength="4"
                              maxlength="20"
                              style="
                                margin-right: 5px;
                                margin-left: 5px;
                                min-width: 30%;
                                max-width: 40%;
                              "
                              placeholder="(e.g. 1234)"
                            /><button
                              id="conn_auth_gss_check_code"
                              class="btn btn-primary btn-sm"
                              type="button"
                              style="margin-right: 5px; margin-left: 5px"
                            >
                              <svg
                                class="bi bi-check-lg"
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                                style="width: 20px; height: 20px"
                              >
                                <path
                                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
                                ></path>
                              </svg>
                            </button>
                          </div>
                        </div>
                        <div
                          style="
                            /*width: 30%;*/
                            height: 1px;
                            background-color: #000;
                            position: absolute;
                            position: relative;
                            text-align: center;
                            margin-bottom: 0px;
                            margin-top: 10px;
                          "
                        ></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}
