{% extends 'base.html' %} {% block title %}Workers - TGB{% endblock %} {% block js_imports %}
<script src="{{ url_for('static', filename='js/workers.js') }}"></script>
{%endblock %} {% block content %}
<section class="py">

	<div class="container" style="border-style: solid; border-color: var(--bs-link-color); padding: 10px; border-radius: 16px; margin-top: 10px;">
        <div id="row_1_Workers" class="row" style="padding: 0px;margin-right: 0px;margin-left: 0px;"></div>
            {% for connectionWorker in connectionWorkerList %}
                <div class="col col-sm-4" style="padding: 5px;">
                    <div id='worker_{{connectionWorker["worker"].id}}_card' class="card" style="padding: 5px;border-width: 2px;border-color: var(--bs-emphasis-color);border-radius: 5px;">
                        <div class="card-body" style="padding: 0px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;">
                                <div class="col" style="padding: 0px;">
                                    <div id='worker_{{connectionWorker["worker"].id}}_state' class="progress">
                                        {% if connectionWorker["worker"].status == WorkerStatus.STARTED or connectionWorker["worker"].status == WorkerStatus.RUNNING %}
                                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                        {% elif connectionWorker["worker"].status == WorkerStatus.STOPPED %}
                                                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                        {% elif connectionWorker["worker"].status == WorkerStatus.FAILED %}
                                                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                        {% elif connectionWorker["worker"].status == WorkerStatus.UNKNOWN %}
                                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                        {% else %}
                                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;padding-right: 5px;padding-left: 5px;padding-top: 2px;">
                                <div class="col" style="padding: 0px;">
                                    <h4 id='worker_{{connectionWorker["worker"].id}}_name' class="text-center text-dark-emphasis" style="margin-bottom: 0px;" worker_id="99">{{ connectionWorker["name"] }}</h4>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;padding-right: 5px;padding-left: 5px;padding-top: 2px;">
                                <div class="col" style="padding: 0px;">
                                    <h6 id='worker_{{connectionWorker["worker"].id}}_id' class="text-center text-dark-emphasis" style="margin-bottom: 0px;font-size: 14px;">{{connectionWorker["worker"].worker_id}}</h6>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;padding-right: 5px;padding-left: 5px;padding-top: 2px;">
                                <div class="col d-inline-flex flex-row justify-content-between align-items-xxl-center" style="padding: 0px;">
                                    <div id='worker_{{connectionWorker["worker"].id}}_switch' class="form-check form-switch" style="margin-bottom: 0px;">
                                        {% if connectionWorker["worker"].status == WorkerStatus.STARTED or connectionWorker["worker"].status == WorkerStatus.RUNNING %}
                                            <input id='worker_{{connectionWorker["worker"].id}}_switch_check' class="form-check-input" type="checkbox" style="border-width: 2px;" checked />
                                        {% else %}
                                            <input id='worker_{{connectionWorker["worker"].id}}_switch_check' class="form-check-input" type="checkbox" style="border-width: 2px;" />
                                        {% endif %}
                                        <label id='worker_{{connectionWorker["worker"].id}}_switch_label' class="form-check-label" for='worker_{{connectionWorker["worker"].id}}_switch_check'>{{ connectionWorker["worker"].status.value }}</label>
                                    </div>
                                    <input readonly id='worker_{{connectionWorker["worker"].id}}_last_started' type="datetime-local" style="max-width: 60%;border-width: 0px;" value='{{ "{:04d}-{:02d}-{:02d}T{:02d}:{:02d}".format(connectionWorker["worker"].date_modified.year, connectionWorker["worker"].date_modified.month, connectionWorker["worker"].date_modified.day, connectionWorker["worker"].date_modified.hour, connectionWorker["worker"].date_modified.minute) }}' />
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;padding-right: 5px;padding-left: 5px;padding-top: 2px;">
                                <div class="col" style="padding: 0px;">
                                    <div id='worker_{{connectionWorker["worker"].id}}_accordion' class="accordion accordion-flush" role="tablist">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header text-center" role="tab"><button class="accordion-button collapsed fs-6 fw-lighter text-center text-bg-light" type="button" data-bs-toggle="collapse" data-bs-target='#worker_{{connectionWorker["worker"].id}}_accordion .item-1' aria-expanded="false" aria-controls='worker_{{connectionWorker["worker"].id}}_accordion .item-1' style="height: 25px;">More details</button></h2>
                                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent='#worker_{{connectionWorker["worker"].id}}_accordion'>
                                                <div class="accordion-body">
                                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}